.Card {
  margin: 25px auto;
  width: 70%;
  height: 310px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 2px 5px gray;
}

.top {
  display: flex;
}

.image {
  margin: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  margin: 35px 0;
  height: 50px;
  font-weight: bold;
}

.form {
  margin: 0 auto;
  width: 90%;
}
.formcheck {
  height: 45px;
  font-style: italic;
  padding: 5px;
}

.vote {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  margin: 5px auto;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
