.Container {
  margin: 5px auto;
  width: 50%;
  border: 2px solid gray;
  padding: 20px;
  cursor: pointer;
  background-color: ghostwhite;
  box-shadow: 1px 2px 5px gray;
  border-radius: 5px;
}

.name {
  text-align: center;
  padding: 16px;
}

.image {
  width: 50px;
  height: 50px;
  position: fixed;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

h2 {
  text-align: center;
}

.Link {
  text-decoration: none;
  color: black;
}
